#container{
 padding:8%,8%,50%;
 margin: 9%; 
 border: solid;
 border-radius: 10%;
 border-color: aquamarine;
 width: 50%;
 height: 90%;
 
}
.flexcontainer{
   display: flex;
   justify-content: space-between;
   width: 70%;
   gap:1px;
   justify-items: center;


}  
#position-relative{
   width: 100%;
   height:200px ;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
#positio{
   position: absolute top 25%;
   position: absolute left 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
}